[submodule "lib/EthernetBonjour"]
	path = lib/EthernetBonjour
	url = https://github.com/jonasohland/EthernetBonjour
[submodule "lib/Ethernet"]
	path = lib/Ethernet
	url = https://github.com/PaulStoffregen/Ethernet
[submodule "lib/i2c_t3"]
	path = lib/i2c_t3
	url = https://github.com/nox771/i2c_t3
