[submodule "lib/EthernetBonjour"]
	path = lib/EthernetBonjour
	url = https://github.com/jonasohland/EthernetBonjour
[submodule "lib/Ethernet"]
	path = lib/Ethernet
	url = https://github.com/PaulStoffregen/Ethernet
